@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@300;400;500&family=Wix+Madefor+Display&display=swap');

.container{
  display: flex;
  font-family: 'Roboto', sans-serif;
}
.information{
  margin: 5rem 8rem;
  padding: 2rem;
  width: 23rem;
}
h1{
  font-size: 2.7rem;

}
.mail{
  width: 19.8rem;
  height: 2rem;
  padding: 0.3rem 1rem;
  color: hsl(231, 7%, 60%);
  border-radius: 0.5rem ; 
  border: 0.1rem solid hsl(231, 7%, 60%);
  cursor: pointer;
}
.validation-message{
  color:red;
  float: right;
  font-size: 0.8rem;
  margin: 0;
  margin-right: 1.3rem;
}
.mail:active{
  border: 0.1rem solid hsl(234, 29%, 20%);
}
.mail:invalid{
  background-color: rgb(255, 0, 0,0.2);
  color: red;
}
.submit{
  width: 22rem;
  height: 2.5rem;
  border-radius: 0.5rem ;
  margin-top: 1rem;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  background-color: hsl(234, 29%, 20%);
  border: none;
  cursor: pointer;
}
.submit:active{
  background-image: linear-gradient(to right,rgb(238, 88, 131) ,hsl(4, 100%, 67%));
  box-shadow: 10px 10px 5px hsl(4, 100%, 67%, 0.2);
}
ul{
  padding: 1rem;
  list-style: url("./assets/images/icon-list.svg");
}
li{
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.picture{
  margin: 2rem;

}
.success-card{
  font-family: 'Roboto', sans-serif;
  width: 26%;
  margin: auto;
  margin-top:10% ;
  padding: 2rem;
  border: 0.1rem solid rgb(128, 128, 128, 0.5);
  border-radius: 2rem;
}

.subscribing-message{
  line-height: 1.5rem;
}

@media only screen and (max-width: 375px) {
  .container{
    flex-direction: column-reverse;
  }
  .information{
    width: 90%;
    margin: 0rem;
  }
  .picture{
    margin: -0.5rem;
    
  }
  .success-card{
    width:75%;
    border: none;
    padding: 0;
    padding-top: 3rem;
  }
  .success-card .submit{
    width: 100%;
    margin-top: 10rem;
  }

}
